body {
	background-image: linear-gradient(to bottom, #3498db, #2980b9); /* Gradient background */
	font-family: Open Sans, sans-serif;
}

.container {
	width: 80%;
	margin: 40px auto;
	padding: 20px;
	background-color: #FFFFFF; /* White background */
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
	background-color: #2ECC71; /* Greenish background */
	color: #FFFFFF;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #CCCCCC;
}

.content {
	padding: 20px;
}

h2 {
	color: #9B59B6; /* Purpleish color */
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid #CCCCCC;
	padding: 10px;
	text-align: left;
}

th {
	background-color: #F7F7F7; /* Light grey background */
}

td {
	background-color: #FFFFFF; /* White background */
}

tr:nth-child(even) {
	background-color: #F2F2F2; /* Lighter grey background */
}

tr:hover {
	background-color: #